

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rare Car Imports</title>
</head>

    <body>
        <header>
            <h1>Rare Car Imports</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/diagram">Schema Diagram</a>
            <a href="/cars">Cars</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a href="/transactions">Transactions</a>
            <a href="/transactionCars">Transactions Details</a>
        </nav>
        <main>
            <h2>Cars</h2>
            <br>
            <table id="cars-table">
                <thead>
                    <tr>  {{! Names for every column }}
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Model Year</th>
                        <th>Car Value ($)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.carID}}>
                        <td><button class="update_button">Edit</button></td>
                        <td><button onclick="window.location.href='/deleteCar'">Delete</button></td>
                        <td>{{this.Make}}</td>
                        <td>{{this.Model}}</td>
                        <td>{{this.Year}}</td>
                        <td>{{#if this.Value}}{{this.Value}}{{else}}-{{/if}}</td> 
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </main>
        <main id="insert">
            <form method="POST" id="addCar" action="/add-car-form">
                <legend><strong>Add Car</strong></legend>
                <fieldset class="fields">
                    <label> Make: </label> <input type="text" name="input-Make" placeholder="Enter Here...">
                    <br>
                    <label> Model: </label> <input type="text" name="input-Model" placeholder="Enter Here...">
                    <br>
                    <label> Model Year: </label> <input type="text" name="input-Year" placeholder="Enter Here...">
                    <br>
                    <label> Car Value($): </label> <input type="text" name="input-Value" placeholder="Optional...">
                </fieldset>
                <br>
                <input class="btn" type="submit" id="addCustomer" value="Add Car">
                <input class="btn" type="button" value="Cancel" onClick="">
            </form>
        </main>
        <footer>
            <p>&copy; 2025 Leo Zimmer / YuPheng Xiong</p>
        </footer>
    </body>
</html>

<script src="./js/update_person.js"></script>