<html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rare Car Imports</title>
    </head>
<body>
    <header>
        <h1>Rare Car Imports</h1>
    </header>
    <nav>
            <a href="/">Home</a>
            <a href="/diagram">Schema Diagram</a>
            <a href="/cars">Cars</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a href="/transactions">Transactions</a>
            <a href="/transactionCars">Transactions Details</a>
    </nav>
        <main>
            <h2>Transaction Details</h2>
            <br>
            <table id="transactionsCars-table">
                <thead>
                    <tr>  {{! Names for every column }}
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Sales ID</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Sale Price</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.transactionCarID}}>
                        <td><button class="update_button">Edit</button></td>
                        <td><button class="delete_button">Delete</button></td>
                        <td>{{this.salesID}}</td>
                        <td>{{this.make}}</td>
                        <td>{{this.model}}</td>
                        <td>{{this.modelYear}}</td>
                        <td>{{this.salePrice}}</td>
                        {{!-- <td><button onclick="deleteCar('{{this.make}}', '{{this.model}}')">Delete</button></td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>  
    </main>
    <br>
    <footer>
        <p>&copy; 2025 Leo Zimmer / YuPheng Xiong</p>
    </footer>
</body>
</html>

